<%= simple_form_for([:cpanel, @apartment], html: { class: "form-horizontal" },wrapper: :horizontal_form,
        wrapper_mappings: {
          check_boxes: :horizontal_radio_and_checkboxes,
          radio_buttons: :horizontal_radio_and_checkboxes,
          file: :horizontal_file_input,
          boolean: :horizontal_boolean
        }) do |f| %>
  <%= render "/shared/error_messages", target: @apartment %>

  <div class="col-md-6 col-md-offset-3">
    <%= f.input :name, label: "小区名字" %>
    <%= f.input :sort, label: "小区显示顺序" %>
    
    <%- if @apartment.image.small %>
      <div class="col-sm-10 col-sm-offset-3">
        <%= image_tag @apartment.image.small if @apartment.image.small.present?  %>
      </div>
    <%- end %>
    
    <%= f.input :image, label: "小区靓照" %>
    <%= f.hidden_field :image_cache %>
    
    <%= f.input :address, label: "小区地址" %>
      
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-10">
        <%= f.submit "提交", class: "btn btn-primary" %>&emsp;<%= link_to '返回', cpanel_apartments_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>

  
<% end %>
