<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">小区列表</h3>
    
  </div>
  <div class="panel-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>小区靓照</th>
          <th>小区名字</th>
          <th>小区地址</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @apartments.each do |apartment| %>
          <tr>
            <td><%= link_to apartment.id, [:cpanel, apartment] %></td>
            <td><%= image_tag apartment.image.small %></td>
            <td><%= apartment.name %></td>
            <td><%= apartment.address %></td>
            <td>
              <%= state_link_to state: apartment.is_open,
                                yes_uri: "/cpanel/apartments/#{apartment.id}/close", 
                                yes_text: "关闭",
                                no_uri: "/cpanel/apartments/#{apartment.id}/open",
                                no_text: "开放" %>
              <%= link_to '编辑', edit_cpanel_apartment_path(apartment), class: "btn btn-xs btn-default" %>
              <% if current_user.super_manager? %>
              <%= link_to '删除', [:cpanel, apartment], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
  <div class="text-center"><%= will_paginate @apartments, renderer: BootstrapPagination::Rails %></div>
  
</div>

<%= link_to '新建小区信息', new_cpanel_apartment_path, class: "btn btn-primary" %>

