<% if @discounted_products.any? %>
<div class="home-discount-products-container">
  <h2>限时抢购</h2>
  <div class="home-discount-products">
    <div class="row">
      <% cache cache_key_for('home_discount_products', @discounted_products) do %>
        <% @discounted_products.each do |product| %>
          <% cache product do %>
          <div class="col-xs-4 col-md-4 product-detail">
            <a href="<%= product_path(product) %>" title="<%= product.title %>" class="product-link" target="_blank">
              <div class="item clearfix">
                <div class="item-avatar pull-left">
                  <%= image_tag product.image.url(:thumb), alt: product.title %>
                </div>
                
                <div class="info">
                  <div class="title"><%= product.title %></div>
                  <div class="purchased">已售<span class="numeric green"><%= product.orders_count %></span>件</div>
                  <div class="price">
                    <span class="numeric green"><%= product_price_tag(product.low_price) %></span>
                    <span class="text-muted"><del><%= product_price_tag(product.origin_price) %></del></span>
                    <span class="text-muted">（<%= product.units %>）</span>
                  </div>
                  <div class="countdown" data-countdown="<%= product.discounted_at.strftime("%Y-%m-%d %H:%M:%S") %>"></div>
                </div>
                
              </div>
            </a>
          </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<% end %>