<div class="home-ads-container clearfix">
  <%= render "home/carousel_ads" %>
  <div class="pull-right sidebar-ad-container">
    <%= image_tag 'sidebar_ad.jpg', style: "width: 300px; height: 341px;" %>
  </div>
</div>

<% if @discounted_products.any? %>
<div class="content-box">
  <h2>每周特惠<span class="f14 text-muted">（限周六、日配送）</span></h2>
  <div class="home-discount-products">
    <div class="row">
      <% cache cache_key_for('home_discount_products', @discounted_products) do %>
        <% @discounted_products.each do |product| %>
          <% cache product do %>
          <div class="col-xs-4 col-md-4">
            <a href="<%= product_path(product) %>" class="product-link">
              <div class="item clearfix">
                <div class="info pull-right">
                  <div class="title"><%= product.title %></div>
                  <div class="purchased">已售<span class="numeric green"><%= product.orders_count %></span>件</div>
                  <div class="price">
                    <span class="numeric green"><%= product_price_tag(product.low_price) %></span>
                    <span class="text-muted"><del><%= product_price_tag(product.origin_price) %></del></span>
                    <span class="text-muted">（<%= product.units %>）</span>
                  </div>
                  <div class="countdown" data-countdown="<%= product.discounted_at.strftime("%Y-%m-%d %H:%M:%S") %>"></div>
                </div>
                <%= image_tag product.image.url(:thumb) %>
              </div>
            </a>
          </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<% end %>

<div class="row home-content-box">
  <div class="col-md-9">
    <% if @suggest_products.any? %>
      <% cache cache_key_for('home_suggest_products', @suggest_products) do %>
        <div class="content-box">
          <h2>推荐预订</h2>
          <%= render_grid_for @suggest_products %>
        </div>
      <% end %>
    <% end %>
    <% if @products.any? %>
    <% cache cache_key_for('home_hot_products', @products) do %>
    <div class="content-box">
      <h2>热门预订</h2>
      <%= render_grid_for @products %>
    </div>
    <% end %>
    <% end %>
  </div>
  <div class="col-md-3">
    <div class="sidebar-right">
      <%= render 'newsblasts/newsblasts_list' %>
      <%= render 'sidebar_ads/ads_list' %>
    </div>
  </div>
</div>

<% content_for :scripts do %>
<script>
$(function() {
  $(".countdown").each(function(idx, item) {
    var $item = $(item);
    var name = '剩余';
    $item.countdown($item.data('countdown'), function(event) {
      $(this).html(event.strftime(name + '%D天%H小时%M分%S秒'));
    });
  });
});

$(function() {
  $('.carousel').carousel({
    interval: 4000
  });
});

</script>

<% end %>
