<% content_for :mobile_title do %>
  <%= title %>
<% end %>

<% content_for :left_bar_button do %>
  <% if left == 'user' %>
  <a href="<%= home_user_path %>" class="navbar-button left <%= left %>"></a>
  <% else %>
  <a href="javascript:void(0)" onclick="javascript:history.go(-1)" class="navbar-button left <%= left %>"></a>
  <% end %>
<% end %>

<% content_for :right_bar_button do %>
<% if right.blank? %>
  <a href="<%= new_user_session_path %>" class="navbar-button right" style="text-decoration: none">登录</a>
<% else %>
  <a href="<%= root_path %>" class="navbar-button right <%= right %>"></a>
<% end %>
<% end %>